[Desktop Entry]
Type=Application
Name=OmaDo Daemon
Comment=Task and Reminder Daemon for OmaDo
Exec=omado --daemon
Icon=omado
Terminal=false
Categories=Utility;
NoDisplay=true
X-GNOME-Autostart-enabled=true
